In [7]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model
from sklearn.utils import shuffle

In [8]:
data = pd.read_csv("student-mat.csv", sep=";")

In [9]:
data

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [10]:
data = data[["G1", "G2", "G3", "studytime", "failures", "absences"]]

In [11]:
data

     G1  G2  G3  studytime  failures  absences
0     5   6   6          2         0         6
1     5   5   6          2         0         4
2     7   8  10          2         3        10
3    15  14  15          3         0         2
4     6  10  10          2         0         4
..   ..  ..  ..        ...       ...       ...
390   9   9   9          2         2        11
391  14  16  16          1         0         3
392  10   8   7          1         3         3
393  11  12  10          1         0         0
394   8   9   9          1         0         5

[395 rows x 6 columns]

In [12]:
predict = "G3" ## Label we are predicting

x = np.array(data.drop([predict], 1)) ## Features
y = np.array(data[predict]) ## Labels

In [14]:
x

array([[ 5,  6,  2,  0,  6],
       [ 5,  5,  2,  0,  4],
       [ 7,  8,  2,  3, 10],
       ...,
       [10,  8,  1,  3,  3],
       [11, 12,  1,  0,  0],
       [ 8,  9,  1,  0,  5]])

In [16]:
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x, y, test_size = 0.1)

In [17]:
linear = linear_model.LinearRegression()

In [19]:
linear.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [20]:
acc = linear.score(x_test, y_test) # acc stands for accuracy

In [21]:
acc

0.7040566646778492

In [22]:
print('Coefficient: \n', linear.coef_) # These are each slope value
print('Intercept: \n', linear.intercept_) # This is the intercept

Coefficient:
 [ 0.15444725  0.96325491 -0.17534146 -0.38041794  0.0330298 ]
Intercept:
 -1.2435871997726142

In [23]:
predictions = linear.predict(x_test) # Gets a list of all predictions

for x in range(len(predictions)):
    print(predictions[x], x_test[x], y_test[x])

17.076877881315696 [16 17  3  0  0] 17
9.236361061994415 [11  9  2  0 14] 9
13.156364809225886 [14 13  2  0  2] 13
7.217171097134637 [9 8 4 0 2] 8
13.85589061703794 [13 14  3  0  4] 14
10.349770718125116 [11 11  4  0  0] 11
10.392330959602612 [13 10  2  1 22] 11
10.985586269118043 [10 11  1  0  8] 10
10.282277283148352 [ 9 11  3  0  2] 11
15.44763629237429 [16 15  3  0  9] 16
6.015373797716659 [ 8  6  2  0 18] 7
5.441731546796937 [7 6 1 0 0] 0
8.01713794348141 [7 9 1 1 2] 8
15.037709229511789 [13 15  1  0  0] 15
9.845556073265225 [ 8 10  1  0 12] 10
9.95770558165427 [12 10  2  0  2] 11
9.3606581118103 [ 8  9  1  1 38] 8
11.708873942031863 [12 12  3  0  2] 11
8.61949656605804 [10  9  2  0  0] 0
13.98944365859584 [15 14  4  0  4] 14
8.675363730913089 [10  9  3  0  7] 9
10.766513241064114 [11 11  2  0  2] 10
11.839050001940171 [11 12  1  0  0] 10
15.303381484231961 [15 15  2  0  4] 15
18.89788902643207 [18 18  1  0  6] 18
14.973592776184615 [14 15  3  0  4] 16
8.268813649700178 [10  9  4  0  0] 0
13.00191755935747 [13 13  2  0  2] 11
15.391769127519241 [16 15  2  0  2] 15
9.405976188761745 [ 8 10  2  0  4] 10
8.485943524500138 [8 9 1 0 0] 8
4.406028695986774 [ 6  5  1  1 14] 5
13.695543428459413 [13 13  2  0 23] 13
10.614009144449666 [11 11  4  0  8] 10
14.230844723355908 [15 14  3  0  6] 14
6.734060871639363 [9 8 1 3 6] 10
9.097081689024913 [ 6 10  2  0  4] 10
5.596688121523694 [ 7  6  2  0 10] 6
8.563650329820675 [ 7 10  3  1  0] 10
11.141467347382084 [13 11  2  0  4] 11